.info__agenda {
  @extend %section;

  background: $color-light;
}

.info__agenda__container {
  @extend %container;
}

.info__agenda__container__header {
  padding-top: $section-padding;
  position: relative;
}

.info__agenda__header__line {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: $color-border;
  display: block;
  transform: scale(0, 1);
  transform-origin: left top;
}

.info__agenda__header__title {
  @extend %title-h2;

  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  overflow: hidden;

  h2 {
    @extend %title-mondwest;

    padding: 0 0.025em 0.075em 0.025em;
    margin: -0.1em -0.065em 0.075em -0.065em;
    overflow: hidden;

    span {
      display: inline-block;
      transform: translateY(115%) rotate(5deg);
    }
  }

  h4 {
    @extend %title-h4;
    overflow: hidden;

    span {
      display: inline-block;
      transform: translateY(115%) rotate(5deg);
    }
  }
}

.info__agenda__container__text {
  padding-top: calc($section-padding * 0.5);
  padding-left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: $gap-padding-em;

  @include media('>720px') {
    padding-left: 34%;
  }

  @include media('>1024px') {
    flex-direction: row;
  }

  p {
    @extend %title-big;

    transform: translateY(2em);
    opacity: 0;
  }
}

.info__agenda__heads {
  display: flex;
  gap: $gap-padding-em;
  flex-wrap: nowrap;
  padding-top: calc($section-padding * 0.8);
  padding-left: 0;

  @include media('>1024px') {
    padding-left: 34%;
  }
}

.info__agenda__heads h4:first-child {
  @extend %title-h4;

  font-size: calc($title-size * 0.4);
  overflow: hidden;
  font-weight: 700;
  text-transform: unset;
  width: 100%;

  @include media('>720px') {
    font-size: calc($title-size * 0.2);
  }
}

.info__agenda__heads h4:last-child {
  @extend %title-h4;

  font-weight: 500;
  overflow: hidden;
  margin-top: 0.2em;
  font-size: 1em;
  width: 100%;

  @include media('>720px') {
    margin-top: 0.6em;
  }

  span {
    display: inline-block;
    margin: 0 -0.065em 0 -0.065em;
    padding: 0 0.025em;
  }
}

.info__agenda__rows {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  padding-left: 0;
  padding-bottom: calc($section-padding * 0.75);

  @include media('>1024px') {
    padding-left: 34%;
  }
}

.info__agenda__row {
  display: flex;
  align-items: center;
  gap: $gap-padding-em;
  padding: 1.5em 0;
  position: relative;
}

.info__agenda__row:last-child .info__agenda__line {
  opacity: 0;
}

.info__agenda__line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: $color-border;
  transform: scale(0, 1);
  transform-origin: left top;
}

.info__agenda__left,
.info__agenda__right {
  width: 50%;
}

.info__agenda__left h4,
.info__agenda__right h4 {
  @extend %title-h4;

  font-size: calc($title-size * 0.3);
  font-weight: 400;
  position: relative;
  overflow: hidden;
  text-transform: unset;
  float: left;

  @include media('>720px') {
    font-size: calc($title-size * 0.2);
  }

  span {
    display: inline-block;
    transform: translateY(200%) rotate(5deg);
  }
}

.info__agenda__text {
  display: inline-block;
  padding: 0 0 0.15em 0;
  margin: 0 0 -0.05em 0;
}

.info__agenda__looped__text {
  @extend %title-mondwest;

  position: absolute;
  margin-bottom: -0.1em;
  white-space: nowrap;
  color: $color-primary;
  letter-spacing: 0.05em;
}

.info__agenda__looped__text div {
  position: relative;
  display: inline-flex;
  opacity: 0;
  padding-right: 0.8em;
  padding-left: 0.2em;

  &:after {
    content: '';
    position: absolute;
    right: 0.3em;
    top: 50%;
    transform: translate(50%, -50%);
    width: 0.15em;
    height: 0.15em;
    border-radius: 50%;
    background: $color-primary;
  }
}

.info__agenda__row:hover {
  .info__agenda__text {
    opacity: 0;
  }

  .info__agenda__looped__text div {
    opacity: 1;
    animation: loopTextHover 4s steps(30, jump-end);
    animation-iteration-count: infinite;
  }
}

@keyframes loopTextHover {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
