.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  z-index: 100;
}

.nav.theme__light {
  .nav__back__color {
    background: $color-light;
  }

  .nav__hamburger__bar {
    background: $color-primary;
  }

  .nav__left__title {
    color: $color-dark;
  }

  .nav__bar__line {
    background: $color-dark;
  }

  .nav__bar__left svg path {
    fill: $color-dark;
  }
}

.nav.theme__dark,
.nav.theme__secondary {
  .nav__back__color {
    background: $color-dark;
  }

  .nav__hamburger__bar {
    background: $color-secondary;
  }

  .nav__left__title {
    color: $color-white;
  }

  .nav__bar__line {
    background: $color-white;
  }

  .nav__bar__left svg path {
    fill: $color-white;
  }
}

.nav.theme__primary {
  .nav__back__color {
    background: $color-primary;
  }

  .nav__hamburger__bar {
    background: $color-secondary;
  }

  .nav__left__title {
    color: $color-white;
  }

  .nav__bar__line {
    background: $color-white;
  }

  .nav__bar__left svg path {
    fill: $color-white;
  }
}

.nav__back {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110vh;
  transform: translateY(0) rotate(0.001deg);
}

.nav__back__color {
  position: relative;
  width: 100%;
  height: 100%;
  background: $color-primary;
  transition: background-color $animation-nav;
}

@import './nav__bar';
@import './nav_bottom';
@import './nav__menu';
