.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  z-index: 100;
}

.nav__back {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110vh;
  transform: translateY(0) rotate(0.001deg);
}

.nav__back__color {
  position: relative;
  width: 100%;
  height: 100%;
  background: $color-primary;
}

@import './nav__bar';
@import './nav_bottom';
@import './nav__menu';
