.nav__bottom {
  @extend %info__bottom;
}

.nav__bottom__right {
  display: flex;
}

.nav__bottom__right,
.nav__bottom__left {
  transform: translateY(-50%);
  opacity: 0;
}

.nav__bottom__title {
  @extend %title-small;

  color: $color-dark;
}

.nav__bottom__blinking {
  @extend %info__bottom__blinking;

  background: $color-primary;
}
