%info__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 $gap-padding $gap-padding-em $gap-padding;
}

%info__bottom__blinking {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  margin-right: 0.45em;
  margin-top: 0.075em;
  animation: blinking 1s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
