%title-small {
  font-family: $font-dm-sans;
  font-weight: 500;
  font-size: 1em;
  line-height: 1;
  text-transform: uppercase;
  color: $color-text;
}

%title-big {
  font-size: 1.33em;
  line-height: 1.35;
  color: $color-text;

  @include media('>540px') {
    font-size: 1.6em;
  }
}

%title-h2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc($title-size * 1.075);
  line-height: 0.91;
  color: $color-text;

  @include media('>540px') {
    font-size: calc($title-size * 1);
  }
}

%title-h4 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc($title-size * 0.15);
  line-height: 1;
  color: $color-text;
  text-transform: uppercase;
}
