:root {
  --section-padding: 10vh;
  --section-padding-small: 8vw;
  --container-padding: 4vw;
}

@include media('>720px') {
  :root {
    --section-padding: 10vw;
    --container-padding: 6vw;
  }
}

@include media('>1024px') {
  :root {
    --section-padding: 18vh;
    --section-padding-small: max(1em, 3vw);
    --container-padding: 11vw;
  }
}

$color-dark: #1b1b1b;
$color-dark-dark: #000000;
$color-light: #f6f5ef;
$color-white: #ffffff;
$color-primary: #f84525;
$color-secondary: #eafe07;
$color-inactive: rgba(131, 131, 131, 0.3);
$color-border: $color-dark;
$color-border-light: $color-white;
$color-text: $color-dark;
$color-text-light: $color-white;
$alert-error: #ff4444;
$alert-success: #24c958;

$animation-primary: 0.5s cubic-bezier(0.7, 0, 0.3, 1);
$animation-ultra: 0.1s cubic-bezier(0.7, 0, 0.3, 1);
$animation-fast: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
$animation-smooth: 0.7s cubic-bezier(0.7, 0, 0.3, 1);
$animation-nav: 0.25s ease-in-out;
$animation-slow: 0.9s cubic-bezier(0.7, 0, 0.3, 1);

$section-padding: var(--section-padding);
$container-padding: var(--container-padding);
$section-padding-small: var(--section-padding-small);
$gap-padding: max(1em, 3.5vw);
$gap-padding-em: 1.75em;

$title-size: 13vw;

$columns: 1;

$vh: 8.59px;

$font-dm-sans: 'DM Sans';
$font-mondwest: 'Mondwest';
