*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: $font-dm-sans;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-size: 16px;
  font-size: clamp(16px, 1.2vw, 19px);
  overflow: hidden;
}

main {
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  position: fixed;
  height: 100%;
  display: block;
}

.main__wrap {
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  will-change: transform;
  position: fixed;
  display: block;
}
