*,
*:after,
*:before {
  box-sizing: border-box;
  // user-select: none;
}

body {
  font-family: $font-dm-sans;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: var(--color-light);
  font-size: 16px;
  font-size: clamp(16px, 1.2vw, 19px);
}

// main {
//   box-sizing: border-box;
//   overflow: hidden;
//   width: 100vw;
//   position: fixed;
//   height: 100%;
//   background: var(--color-light);
//   display: block;
// }
